{% extends "base.html" %}

{% block title %}
ユーザー情報変更画面
{% endblock %}

{% block body %}
    <h2>アカウント：{{ user_id }}</h2>
    {% if complete_update_password == "True" %}ユーザー情報を更新しました<br>{% endif %}
    <a href="search">検索ページに戻る</a>
    <!--TODO: reset must clear textbox-->
    <form action="/sample/edit_profile" method="post">
        <input type="hidden" name="complete_update_password" value="True">
        <table border="0">
            <tr>
                <td>現在のパスワード</td>
                <td><input type="text" name="current_password" value="{{ current_password }}" size="30" maxlength="20"></td>
            </tr>
            <tr>
                <td>新しいパスワード</td>
                <td><input type="password" name="new_password" value="{{ new_password }}" size="30" maxlength="20"></td>
            </tr>
            <tr>
                <td>新しいパスワード(確認用)</td>
                <td><input type="password" name="re_new_password" value="{{ re_new_password }}" size="30" maxlength="20"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="変更">
                    <input type="button" value="リセット" onclick="clearFormAll()">
                </td>
            </tr>
        </table>
    </form>
    <a href="logout">ログアウト</a>
    {% if attention %}<font color="ff0000">{{ attention }}</font>{% endif %}
{% endblock %}