{% extends "base.html" %}

{% block title %}
ユーザー情報変更画面
{% endblock %}

{% block body %}
    {% if complete_update_user == "True" %}ユーザー情報を更新しました{% endif %}
    <a href="search">検索ページに戻る</a>
    <form action="/sample/edit_profile" method="post">
        {% if confirm_user == "True" %}<input type="hidden" name="complete_update_user" value="True">
        {% else %}<input type="hidden" name="confirm_user" value="True">{% endif %}
        <table border="0">
            <tr>
                <td>{% if confirm_user == "True" %}新しい{% else %}現在の{% endif %}ユーザー名</td>
                <td><input type="text" name="user_name" size="30" maxlength="20"></td>
            </tr>
            <tr>
                <td>{% if confirm_user == "True" %}新しい{% else %}現在の{% endif %}パスワード</td>
                <td><input type="password" name="user_password" size="30" maxlength="20"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="{% if confirm_user == 'True' %}決定{% else %}登録{% endif %}">
                    <input type="reset" value="リセット">
                </td>
            </tr>
        </table>
    </form>

    {% if attention %}<font color="ff0000">{{ attention }}</font>{% endif %}
{% endblock %}