{% extends "base.html" %}

{% block title %}
管理画面
{% endblock %}

{% block body %}

    <form action="/sample/manage" method="post" name="delete_user">
        {% for user in users %}
            <input type="checkbox" name="delete_user_ids" value="{{ user._id }}">{{ user._id }}. <br>
            <table border="0">
                <tr><td>ユーザー名</td><td onClick="pulldown_user_info({{ roop.index }})">{{ user.name }}</td></tr>
            </table>
        {% endfor %}
        <input type="hidden" name="delete_user" value="execute">
        <font color="red"><input type="button" value="削除" onClick="check()"></font>
        <input type="reset" value="リセット">
    </form>
    {% if attention %}<font color="ff0000">{{ attention }}</font>{% endif %}

    {% for user in users %}
        <div id="{{ roop.index }}"></div>
    {% endfor %}

    <script>
    <!--
    function check(){
        if(confirm("削除して問題ないですか？")){
            document.delete_user.submit();
        }
    }

    function pulldown_user_info(roop_index) {
        var user_website = document.getElementById(roop_index);  // TODO: loop_indexをstringにしたい
        if user_website.innerHTML == "" {
            user_website.innerHTML =
                "{% for website in user[loop_index].websites %}"
                    + "<table border='0'>"
                        + "<tr><td>サイト名</td><td>{{ website.name }}</td></tr>"
                        + "<tr><td>リンク</td><td>{{ website.link }}</td></tr>"
                        + "<tr><td>概要</td><td>{{ website.outline }}</td></tr>"
                        + "<!--<tr><td>検索ワード</td><td>{{ search_word }}</td></tr>-->"
                        + "<!--<tr><td>検索ワード 関連度</td><td>{{ search_word_relevance[website._id] }}</td></tr>-->"
                        + "<!--<tr><td>検索ワード ヒット数</td><td>{{ search_word_hit_count[website._id] }}</td></tr>-->"
                        + "<!--<tr><td>最頻出ワード</td><td>{{ website.most_frequent_word }}</td></tr>-->"
                    + "</table>"
                + "{% endfor %}"
        }
        else {
            user_website.innerHTML = ""
        }
    }
    // -->
    </script>

{% endblock %}