{% extends "base.html" %}

{% block title %}
検索画面
{% endblock %}

{% block body %}
    <h2>アカウント：{{ user_id }}</h2>
    {% if complete_delete_websites == "True" %}チェック項目の削除を実行しました<br>{% endif %}
    <a href="add_website">サイト登録</a>
    <a href="edit_profile">ユーザー情報変更</a>
    <form action="/sample/search" method="post">
        <div>
            <input type="text" name="search_word" value="{{ search_word }}" size="50" maxlength="50">
            <input type="submit" value="検索">
        </div>
        <input type="hidden" name="websites" value="{{ websites }}">
    </form>
    <form action="/sample/search" method="post" name="delete_website">
        {% for website in websites %}
            <input type="checkbox" name="delete_website_ids" value="{{ website._id }}">
            {{ loop.index }}. {% if search_word_hit_count %}<b>{{ search_word_hit_count[loop.index0] }}</b>件{% endif %}<br>
            <table border="1" cellpadding="5"  cellspacing="0">
                <tr><td>サイト名</td><td>{{ website.name }}</td></tr>
                <tr><td>リンク</td><td><a href="{{ website.link }}" target="_blank">{{ website.link }}</a></td></tr>
                <tr><td>キーワード</td><td>{{ website.keywords }}</td></tr>
                <!--<tr><td>最頻出ワード</td><td>{{ website.most_frequent_word }}</td></tr>-->
            </table>
            <br>
        {% endfor %}
        <input type="hidden" name="search_word" value="{{ search_word }}">
        <br>
        <font color="red"><input type="button" value="削除" onClick="check()"></font>
        <input type="button" value="リセット" onclick="clearFormAll()">
    </form>
    <br>
    <a href="logout">ログアウト</a>
    {% if attention %}<font color="ff0000">{{ attention }}</font>{% endif %}

    <script>
    <!--
    function check(){
        if(confirm("削除して問題ないですか？")){
            document.delete_website.submit();
        }
    }
    // -->
    </script>
{% endblock %}