{% extends "base.html" %}

{% block title %}
検索画面
{% endblock %}

{% block body %}
    {% if delete_website == "execute" %}チェック項目({{ delete_website_ids|length }}個)を削除しました{% endif %}
    <form action="/sample/search" method="post">
        <div>
            <input type="text" name="search_word" size="30" maxlength="20">
            <input type="submit" value="検索">
        </div>
    </form>
    <form action="/sample/search" method="post" name="delete_website">
        {% for website in website_list %}
            <input type="checkbox" name="delete_website_ids" value="{{ website.id }}">{{ website.id }}. <br>
            <table border="0">
                <tr><td>サイト名</td><td>{{ website.name }}</td></tr>
                <tr><td>リンク</td><td>{{ website.link }}</td></tr>
                <tr><td>概要</td><td>{{ website.outline }}</td></tr>
                <!--<tr><td>検索ワード</td><td>{{ search_word }}</td></tr>-->
                <!--<tr><td>検索ワード 関連度</td><td>{{ website.search_word_relevance }}</td></tr>-->
                <!--<tr><td>検索ワード ヒット数</td><td>{{ website.search_word_hit_count }}</td></tr>-->
                <!--<tr><td>最頻出ワード</td><td>{{ website.most_frequent_word }}</td></tr>-->
            </table>
        {% endfor %}
        <input type="hidden" name="delete_website" value="execute">
        <font color="red"><input type="button" value="削除" onClick="check()"></font>
        <input type="reset" value="リセット">
    </form>
    {% if attention %}<font color="ff0000">{{ attention }}</font>{% endif %}

    <script>
    <!--
    function check(){
        if(confirm("削除して問題ないですか？")){
            document.delete_website.submit();
        }
    }
    // -->
    </script>
{% endblock %}