{% extends "base.html" %}

{% block title %}
新規登録画面
{% endblock %}

{% block body %}

    <form action="/sample/sign_up" method="post" name="sign_up">
        <table border="0">
            <tr>
                <td>ユーザー名</td>
                <td><input type="text" name="user_name" size="30" maxlength="20"></td>
            </tr>
            <tr>
                <td>パスワード</td>
                <td><input type="password" name="user_password" size="30" maxlength="20"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="登録" onClick="check()">
                    <input type="reset" value="リセット">
                </td>
            </tr>
        </table>
    </form>
    {% if attention %}<font color="ff0000">{{ attention }}</font>{% endif %}

    <script>
    <!--
    function check(){
        if(confirm("入力に間違いはないですか？")){
            document.sign_up.submit();
        }
    }
    // -->
    </script>

{% endblock %}